@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --first-color: #1D355A;
  --second-color: #FF7163;
  --black-color: #000000;
  --white-color: #ffffff;
  --bg-color: #fffff1;

  --first-font: "Jost", sans-serif;
  --second-font: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body {
  overflow-x: hidden;
}
body {
  scroll-behavior: smooth;
  background-color: var(--bg-color);
}

ul {
  list-style: none;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--first-font);
}

a {
  font-family: var(--second-font) !important;
}

p, span, label, small, input, li {
  font-family: var(--second-font);
}
p {
  font-weight: 500;
}

input::placeholder {
  font-size: 18px;
  font-family: var(--first-font);
}