#hero {
    padding: 30px 0;
}
#hero h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: var(--first-color);
}
#hero a {
    background-color: var(--first-color);
    color: var(--white-color);
}
#hero a:hover {
    background-color: transparent;
    outline: 1px solid var(--first-color);
    color: var(--first-color);
}
#hero_section_image {
    position: relative;
}
.hero_img_two {
    position: absolute;
    left: 0;
    width: 80% !important;
    border-radius: 10px;
    top: 0;
}
.hero_img_two img {
    border-radius: 10px;
}

#second_section {
    padding: 50px 0;
}
#section_title h2 {
    font-size: 40px;
    color: var(--first-color);
}

#secon_section_four_box {
    background-color: var(--first-color);
    padding: 15px;
    border-radius: 10px;
    color: var(--white-color);
}
#second_section_icon {
    font-size: 40px;
    margin-bottom: 15px;
}
#secon_section_four_box:hover {
    background-color: var(--second-color);
    transition: .3s ease-in-out;
}

#third_section {
    padding: 50px 0;
}
#third_section img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#third_section #thirdTitleBox {
    background-color: var(--first-color);
    padding: 15px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#third_section #thirdTitleBox h4 {
    margin-bottom: 0;
    color: var(--white-color);
}

#brand_value_section {
    padding: 50px 0;
}
#brand_value_full {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#brand_value_full img {
    border-radius: 10px;
}
#brand_value_section #brand_value_box {
    position: absolute;
    background: rgba(26, 26, 26, 0.2);
    backdrop-filter: blur(17px);
    width: 400px;
    color: var(--white-color);
    padding: 20px;
    border-radius: 10px;
}
#brand_value_section #brand_value_box h2 {
    font-size: 40px;
}
#brand_value_section #brand_value_box a {
    background-color: var(--white-color);
    color: var(--black-color);
}

#forth_section {
    padding: 100px 0;
    background-image: url("../../public/how-to-speed-up-computer-1625759076.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#forth_section h2 {
    font-size: 40px;
    color: var(--first-color);
}
#forth_section a {
    outline: 1px solid var(--first-color);
    margin-top: 30px;
}
#forth_section a:hover {
    outline: none;
    background-color: var(--first-color);
    color: var(--white-color);
}

#fifth_section {
    padding: 50px 0;
    background-color: var(--first-color);
    color: var(--white-color);
}
#fifth_section h2 {
    color: var(--second-color);
    font-size: 40px;
}
#fifth_section h4 {
    color: var(--second-color);
}
#fifth_section ul li {
    padding: 5px 0;
}
#fifth_section ul li a {
    color: var(--white-color);
    text-decoration: none;
}
#fifth_section ul li a:hover {
    text-decoration: underline;
}

#sixth_section {
    padding: 100px 0;
    background-image: url("../../public/2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#six_section_boxs {
    background-color: var(--white-color);
    padding: 25px;
    border-radius: 10px;
}
#sixth_section a {
    color: var(--second-color);
    text-decoration: none;
    font-weight: 600;
}
#sixth_section a:hover {
    color: var(--first-color);
}

#seventh_section {
    padding: 100px 0;
    background-image: url("../../public/roman-kraft-WOzVqzpScrk-unsplash-1-scaled.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#seventh_section_box {
    background-color: var(--white-color);
    padding: 25px;
    border-radius: 10px;
}
#seventh_section h3 {
    font-size: 50px;
    font-weight: 600;
    color: var(--first-color);
}
#seventh_section h5 {
    font-size: 25px;
    font-weight: 500;
}
#seventh_section a {
    outline: 1px solid var(--first-color);
    margin-top: 30px;
}
#seventh_section a:hover {
    outline: none;
    background-color: var(--second-color);
    color: var(--white-color);
}

#eight_section {
    padding: 50px 0;
    background-color: var(--second-color);
}
#eight_section h3 {
    color: var(--white-color);
    font-size: 40px;
}
#eight_section p {
    color: var(--white-color);
} 
#eight_section button {
    background-color: var(--first-color);
    color: var(--white-color);
}
#eight_section button:hover {
    background-color: var(--white-color);
    color: var(--black-color);
}


@media only screen and (min-width: 300px) and (max-width: 500px) {
    #hero h1 {
        font-size: 35px;
        margin-bottom: 10px;
        color: var(--first-color);
    }
    #hero img {
        margin-top: 20px;
    }
    #second_section {
        padding: 30px 0;
    }
    #section_title h2 {
        font-size: 30px;
    }

    #third_section {
        padding: 30px 0;
    }

    #brand_value_section {
        padding: 30px 0;
    }
    #brand_value_section #brand_value_box {
        width: 80%;
    }
    #brand_value_section #brand_value_box h2 {
        font-size: 30px;
    }

    #forth_section {
        padding: 30px 0;
    }
    #forth_section h2 {
        font-size: 30px;
    }
    #mobile_hide_img {
        display: none;
    }

    #fifth_section {
        padding: 30px 0;
    }
    #fifth_section h2 {
        font-size: 30px;
    }
    #fifth_section h4 {
        margin-top: 20px;
    }

    #sixth_section {
        padding: 30px 0;
    }

    #seventh_section {
        padding: 30px 0;
    }
    #seventh_section h3 {
        font-size: 35px;
    }

    #eight_section {
        padding: 30px 0;
    }
    #eight_section h3 {
        font-size: 30px;
    }
    #eight_section input {
        margin-top: 20px;
    }
}

@media only screen and (min-width: 501px) and (max-width: 900px) {
    #hero_section_image {
        margin-top: 20px;
    }
    #second_section {
        padding: 30px 0;
    }
    #third_section {
        padding: 30px 0;
    }
    #brand_value_section {
        padding: 30px 0;
    }
    #brand_value_section #brand_value_box {
        width: 500px;
    }
    #forth_section {
        padding: 30px 0;
    }
    .tab_hide_img {
        display: none;
    }
    #fifth_section {
        padding: 30px 0;
    }
    #sixth_section {
        padding: 30px 0;
    }
    #seventh_section {
        padding: 30px 0;
    }
    #seventh_section h3 {
        font-size: 35px;
    }
    #eight_section {
        padding: 30px 0;
    }
    #eight_section input {
        margin-top: 20px;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    #seventh_section h3 {
        font-size: 40px;
    }
}